<launch>
    <!-- Load parameters from a file -->
    <rosparam file="$(find bridge_support_ros1)/config/bridge.yaml" command="load" />

    <!-- Launch Elevation Mapping Node -->
    <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/core/core_param.yaml"/>
        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/core/example_setup.yaml"/>
        <remap from="/tf" to="/test/tf"/>
    </node>

    <!-- Static Transform Publishers -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_to_base" args="0.113 0 0.714 -3.142 0 0 base_footprint os_lidar" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_base" args="0.112 0.015 0.576 0.007 -0.001 0.005 base_footprint camera_color_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_optical_frame" args="0 0 0 0 0 0 camera_color_frame camera_color_optical_frame" />
</launch>
